<p>All User</p>

<%= link_to 'Create New User', new_user_path, class: 'btn btn-primary' %>

<% @users.each do |user| %>
    <p><%= user.firstname %></p>
    <p><%= user.lastname %></p>
    <%= link_to "show", user_path(user.id) %>
    <%= link_to "edit", edit_user_path(user.id) %>
    <%= link_to "delete", user_path(user.id), data: {turbo_method: :delete,}%>
<%end%>
