<%= stylesheet_link_tag "show", "data-turbo-track": "reload" %>
<div class="container-show">
    <div class="detail">
        <div class="labels">
            <h1 class="name">Name :</h1>
            <h1 class="birthday">Birthday :</h1>
            <h1 class="gender">Gender :</h1>
            <h1 class="mail">Mail :</h1>
            <h1 class="phonenumber">PhoneNumber :</h1>
            <h1 class="subject">Subject :</h1>
        </div>
        <div class="values">
            <div class="Fullname">
                <h1><%= @user.firstname %></h1>
                <h1><%= @user.lastname %></h1>
            </div>
            <h1><%= @user.birthday %></h1>
            <h1><%= @user.gender %></h1>
            <h1><%= @user.email %></h1>
            <h1><%= @user.phonenumber %></h1>
            <h1><%= @user.subject %></h1>
        </div>
    </div>
    <%= button_to 'Back', root_path, method: :get , class: 'Back' %>
</div>

